
WPFapp/obj/x64/Debug/WPFapp.csproj.ResolveComReference.cache
WPFapp/obj/x64/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
WPFapp/obj/x64/Debug/WPFapp_MarkupCompile.cache
WPFapp/obj/x64/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
WPFapp/obj/x64/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
WPFapp/obj/x64/Debug/MainWindow.g.i.cs
WPFapp/obj/x64/Debug/MainWindow.g.cs
WPFapp/obj/x64/Debug/Interop.MyATLCOMLib.dll
WPFapp/obj/x64/Debug/App.g.i.cs
WPFapp/obj/x64/Debug/App.g.cs
WPFapp/obj/x64/Debug/WPFapp_MarkupCompile.lref
WPFapp/obj/x64/Debug/WPFapp.csprojAssemblyReference.cache
WPFapp/obj/x64/Debug/WPFapp.csproj.CoreCompileInputs.cache
